<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qnscale" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Qnscale</name>
    <js-module name="Qnscale" src="www/Qnscale.js">
        <clobbers target="cordova.plugins.qnscale" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Qnscale">
                <param name="android-package" value="cordova.plugin.qnscale.Qnscale" />
            </feature>
        </config-file>
        <config-file mode="merge" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <!--6.0 and later need to apply dynamically -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- used to store logs -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <!--If it is online sdk requires network permissions -->
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.qingniu.qnble.scanner.BleScanService"/>
            <!-- Bluetooth connection service -->
            <service android:name="com.qingniu.scale.measure.ble.ScaleBleService"/>
            <!--Requires compatibility with broadcast scales, you need to register the following services, the version after 0.6.4 can be used without this service -->
            <service android:name="com.qingniu.scale.measure.broadcast.ScaleBroadcastService"/>
        </config-file>
        <source-file src="src/android/Qnscale.java" target-dir="src/cordova/plugin/qnscale" />
        <source-file src="src/123456789.qn" target-dir="src/main/assets" />
        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        
        <pods-config ios-min-version="11" use-frameworks="true">
            <source url="https://bitbucket.org/doing-lab/foodlenssdk-specs.git" />
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </pods-config>
        
        <pod name="FoodLens" version="2.0.24"/>
        
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge" overwrite="true" >
          <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config>
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
            <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config>


        <config-file parent="/*" target="config.xml">
            <feature name="Foodlens">
                <param name="ios-package" value="Foodlens" />
            </feature>
        </config-file>
        <source-file src="src/ios/Foodlens.swift" />
    </platform>
</plugin>