<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aprilis-device-qnscale" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>AprilisDeviceQnscale</name>
	<js-module name="AprilisDeviceQnscale" src="www/AprilisDeviceQnscale.js">
		<clobbers target="cordova.plugins.aprilis.device.qnscale" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AprilisDeviceQnscale">
				<param name="android-package" value="cordova.plugins.aprilis.device.qnscale.AprilisDeviceQnscale" />
			</feature>
		</config-file>
		<config-file mode="merge" parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
			<service android:name="com.qingniu.qnble.scanner.BleScanService" />
			<service android:name="com.qingniu.scale.measure.ble.ScaleBleService" />
			<service android:name="com.qingniu.scale.measure.broadcast.ScaleBroadcastService" />
		</config-file>
		<source-file src="src/android/AprilisDeviceQnscale.java" target-dir="src/cordova/plugins/aprilis/device/qnscale" />
		<source-file src="src/android/AprilisDeviceQnscaleResponse.java" target-dir="src/cordova/plugins/aprilis/device/qnscale" />
		<source-file src="src/APRILIS20191216.qn" target-dir="src/main/assets" />
		<framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Qnscale">
				<param name="ios-package" value="Qnscale" />
			</feature>
		</config-file>
		<source-file src="src/ios/AprilisDeviceQnscaleData.h" />
		<source-file src="src/ios/AprilisDeviceQnscaleData.m" />
		<source-file src="src/ios/AprilisDeviceQnscaleResponse.h" />
		<source-file src="src/ios/AprilisDeviceQnscaleResponse.m" />
		<source-file src="src/ios/AprilisDeviceQnscale.m" />
		<resource-file src="src/APRILIS20191216.qn" />
		<framework src="src/ios/QNSDK.framework" custom="true" />
 	</platform>
</plugin>
